<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Jogo Adivinhação</title>

    <link rel="stylesheet" href="../Css/home.css">
</head>

<body>
    <div id="containerPrincipal">
        <div id="infoJogo">
            <div id="texto">
                <h1>Jogo da Adivinhação</h1>
                <span>Tente acertar um número de 1 - 100</span>
                <span>Escolha entre os modos de dificuldade</span>
                
                <hr>

                <div id="containerInfo">
                    <span>Informe o nome do jogador: </span>
                    <input type="text" id="inputNome" placeholder="Nome">
                </div>
            
                <button id="btnJogar" onclick="pegarNome()">Jogar</button>
            </div>
        </div>
    </div>

    <script src="../Js/home.js"></script>
</body>

</html>