<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placar</title>

    <link rel="stylesheet" href="../Css/placar.css">
</head>

<body>
    <div id="containerPlacar">
        <button onclick="window.location.href = '/jogo'">Voltar</button>
        <h1>Placar</h1>

        <div id="containerTabela">
            <table>
                <tr>
                    <th>Posição</th>
                    <th>Nome</th>
                    <th>Pontos</th>
                </tr>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
    </div>

    <script src="../Js/placar.js"></script>
</body>

</html>