body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 98vw;
    height: 80vh;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px;
}

table > button {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1, h3{
    margin: 0;
}